aio_pika==9.4.3
cryptography==43.0.0
fastapi==0.112.1
fastapi_pagination==0.12.26
fastapi_cli==0.0.4
passlib==1.7.4
pipreqs==22.3
pydantic==2.8.2
pydantic_settings==2.4.0
PyJWT==2.9.0
pymongo==4.8.0
Requests==2.32.3
starlette==0.38.2
tortoise==0.1.1